* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

a {
    color: #4900be;
    float: left;
}

#home-time {
    float: right;
}

.app {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    margin: 150px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.app h1 {
    font-size: 50px;
    padding-bottom: 25px;
}

.app h2 {
    font-size: 23px;
    padding-bottom: 25px;
    font-weight: normal;
}

h1 {
    padding-top: 15%;
}

.btn {
    background: #220058;
    color: #fff;
    font-weight: 500;
    width: auto;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #4900be;
    color: #fff;
}

.not-visible {
    display: none;
}

.timer {
    float: right;
}